# openHAB stuff
openhab/userdata/cache/*
openhab/userdata/config/*
openhab/userdata/jsondb/backup/*
openhab/userdata/logs/*
openhab/userdata/secrets/*
openhab/userdata/tmp/*

# Pihole stuff
pihole/etc-pihole/**
pihole/.pihole_env