services:
    jwilder-proxy:
      image: nginxproxy/nginx-proxy:0.9.3
      container_name: jwilder
      ports:
        - '80:80'
        - '443:443'
      environment:
        DEFAULT_HOST: pihole.raspberrypi
      volumes:
        - '/var/run/docker.sock:/tmp/docker.sock'
        - './reverse-proxy/conf/additional_proxy.conf:/etc/nginx/conf.d/additional_proxy.conf:ro'
        - './reverse-proxy/certs:/etc/nginx/certs'
      restart: always

    pihole:
      container_name: pihole
      image: pihole/pihole:2025.11.1
      environment:
        # Set the appropriate timezone for your location from
        # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones, e.g:
        TZ: 'Europe/London'
        # Set a password to access the web interface. Not setting one will result in a random password being assigned
        # FTLCONF_webserver_api_password: 'pihole'
        # If using Docker's default `bridge` network setting the dns listening mode should be set to 'ALL'
        FTLCONF_dns_listeningMode: 'ALL'
        FTLCONF_webserver_port: "8081"
        FTLCONF_dns_revServers: 'true,192.168.93.0/24,192.168.93.1,fritz.box'
        FTLCONF_dns_upstreams: '192.168.93.1;fd00::3ea6:2fff:fe8d:5972'
        FTLCONF_dns_domainNeeded: 'true'
        FTLCONF_dns_bogusPriv: 'true'
        FTLCONF_database_maxDBdays: 30
        FTLCONF_database_DBinterval: 300
        FTLCONF_database_network_expire: 30
        PROXY_LOCATION: pihole
        VIRTUAL_HOST: pihole.raspberrypi
        VIRTUAL_PORT: 80
      env_file: ./pihole/.pihole_env
      volumes:
        # For persisting Pi-hole's databases and common configuration file
        - './pihole/etc-pihole:/etc/pihole'
        # Uncomment the below if you have custom dnsmasq config files that you want to persist. Not needed for most starting fresh with Pi-hole v6. If you're upgrading from v5 you and have used this directory before, you should keep it enabled for the first v6 container start to allow for a complete migration. It can be removed afterwards. Needs environment variable FTLCONF_misc_etc_dnsmasq_d: 'true'
        #- './etc-dnsmasq.d:/etc/dnsmasq.d'
      cap_add:
        # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
        # Required if you are using Pi-hole as your DHCP server, else not needed
        - NET_ADMIN
        # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
        # - SYS_TIME
        # Optional, if Pi-hole should get some more processing time
        # - SYS_NICE
      extra_hosts:
        # Resolve to nothing domains (terminate connection)
        - 'nw2master.bioware.com nwn2.master.gamespy.com:0.0.0.0'
        # LAN hostnames for other docker containers using jwilder
        - 'raspberrypi:192.168.93.25'
        - 'pihole pihole.raspberrypi:192.168.93.25'
        - 'openhab openhab.raspberrypi:192.168.93.25'
        - 'nextcloud nextcloud.raspberrypi:192.168.93.25'
        - 'syncthing syncthing.raspberrypi:192.168.93.25'
        # Brave
        - 'variations.brave.com:192.168.93.25'
        - 'star-randsrv.bsg.brave.com:192.168.93.25'
      # network_mode: host
      restart: always
      network_mode: "host"
      depends_on:
        - jwilder-proxy

    # openhab:
    #   image: "openhab/openhab:5.1.0"
    #   container_name: openhab
    #   restart: always
    #   ports:
    #     - "8080:8080"
    #   volumes:
    #     - "/etc/localtime:/etc/localtime:ro"
    #     - "/etc/timezone:/etc/timezone:ro"
    #     - "./openhab/conf:/openhab/conf"
    #     - "./openhab/addons:/openhab/addons"
    #     - "./openhab/userdata:/openhab/userdata"
    #   environment:
    #     OPENHAB_HTTP_PORT: "8080"
    #     OPENHAB_HTTPS_PORT: "8443"
    #     EXTRA_JAVA_OPTS: "-Duser.timezone=Europe/Berlin"
    #     CRYPTO_POLICY: unlimited
    #   networks:
    #     - default
