  name: Generate SBOM

  on:
    push:
    schedule:
      - cron: "30 1 * * *"

  jobs:
    build_sbom:
      runs-on: ubuntu-latest
      strategy:
        fail-fast: false
        matrix:
          image:
            - openhab/openhab:5.1.0
            - eclipse-mosquitto:2.0.22
            - nginxproxy/nginx-proxy:1.9.0
            - pihole/pihole:2025.11.1
            - yobasystems/alpine-mariadb:11.4.9

      steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Anchore SBOM Action
        uses: anchore/sbom-action@v0.22.1
        with:
          image: ${{ matrix.image }}
          format: spdx-json
          output-file: sbom.spdx.json

      - name: Verify SBOM exists
        run: |
          ls -la
          test -f sbom.spdx.json

      - name: Scan SBOM
        uses: anchore/scan-action@v6
        with:
          sbom: sbom.spdx.json
          fail-build: true
          severity-cutoff: critical
